<div class="container">
  <table class="table table-striped">
    <thead>
      <th>Id</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>adresse</th>
      <th>telephone</th>
      <th>sexe</th>
      <th>login</th>
      <th>mdp</th>
      
    </thead>
    <tbody>
      <tr *ngFor="let secretaire of secretaires">
        <td>{{secretaire.id}}</td>
        <td>{{secretaire.nom}}</td>
        <td>{{secretaire.prenom}}</td>
        <td>{{secretaire.adresse}}</td>
        <td>{{secretaire.tel}}</td>
        <td>{{secretaire.sexe}}</td>
        <td>{{secretaire.login}}</td>
        <td>{{secretaire.mdp}}</td>
        <td>
          <button class="btn btn-danger" (click)="deleteSecretaire(secretaire)">Delete</button>&nbsp;
          <button class="btn btn-primary" (click)="updateSecretaire(secretaire)">Edit</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button class="btn btn-primary"  (click)="newSecretaire()">New</button>
</div>
