<div class="container">
  <form (ngSubmit)="processForm()">
    
    <div class="form-group">
      <label for="nom">Nom: </label>
      <input type="text" name="nom" class="form-control" [(ngModel)]="admin.nom">
    </div>
    <div class="form-group">
        <label for="prenom">prenom: </label>
      <input type="text" name="prenom" class="form-control" [(ngModel)]="admin.prenom">
    </div>

    <div class="form-group">
      <label for="Adresse">Adresse: </label>
      <input type="text" name="Adresse" class="form-control" [(ngModel)]="admin.adresse">
    </div>

    <div class="form-group">
      <label for="tel">telephone: </label>
      <input type="text" name="tel" class="form-control" [(ngModel)]="admin.tel">
    </div>

    <div class="form-group">
      <label for="sexe">sexe: </label>
      <input type="text" name="sexe" class="form-control" [(ngModel)]="admin.sexe">
    </div>

    <div class="form-group">
      <label for="login">login: </label>
      <input type="text" name="login" class="form-control" [(ngModel)]="admin.login">
    </div>

    <div class="form-group">
      <label for="mdp">mdp: </label>
      <input type="text" name="mdp" class="form-control" [(ngModel)]="admin.mdp">
    </div>

    <input type="submit" value="save" class="btn btn-success">
  </form>
</div>